VBox{
-fx-spacing: 2em;
-fx-padding: 2em;
-fx-alignment: top-center;
-fx-background-color: #505050;
}
.button{
-fx-background-color: #404040;
-fx-text-fill: #ffffff;
-fx-pref-width: 155px;
-fx-effect: dropshadow(gaussian, #101010, 2, 0.5, 0, 0);
}
.button:hover{
-fx-background-color: #606060;
-fx-effect: dropshadow(gaussian, #404040, 2, 0.5, 0, 0);
}
.button:armed{
-fx-effect: dropshadow(gaussian, #d5d5d5, 2, 0.5, 0, 0);
-fx-background-color: #656565;
}
.label{
-fx-text-fill: #ffffff;
-fx-font-size: 20px;
-fx-text-align: center;
}