VBox, HBox {
-fx-spacing: 2em;
-fx-padding: 2em;
-fx-alignment: top-center;
-fx-background-color: #505050;
}

BorderPane{
-fx-spacing: 2em;
-fx-padding: 2em;
-fx-alignment: top-center;
-fx-background-color: #505050;
}

.button{
-fx-background-color: #404040;
-fx-text-fill: #ffffff;
-fx-pref-width: 155px;
-fx-effect: dropshadow(gaussian, #101010, 2, 0.5, 0, 0);
}
.button:hover{
-fx-background-color: #606060;
-fx-effect: dropshadow(gaussian, #404040, 2, 0.5, 0, 0);
}
.button:armed{
-fx-effect: dropshadow(gaussian, #d5d5d5, 2, 0.5, 0, 0);
-fx-background-color: #656565;
}

.label{
-fx-text-fill: #ffffff;
}

.text-area content{
-fx-font-size: 2em;
fx-background-color: #cecece;
}

.styled-text-area {
-fx-font-size:2em;
-fx-background-color: #cecece;

}

.text-field .content{
-fx-background-color: white;
}

.current-cursor{
-fx-background-fill: #4FADFF;
-fx-fill: #fff;
}

.wrong-cursor{
-fx-fill: #fff;
-fx-background-fill: #a32929;
}

.correct-text{
-fx-fill: #006400;
}

.wrong-text{
-fx-fill: #a32929;
}

.default{
}
