.MainContainer {
    -fx-background-color: #505050;
    -fx-padding: 30px;
}

#filterPanel {
    -fx-alignment: top-center;
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1);
}

.filterElement {
    -fx-alignment: center;
    -fx-spacing: 60px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.button {
    -fx-background-color: #404040;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 155px;
    -fx-pref-height: 40px;
    -fx-effect: dropshadow(gaussian, #101010, 2, 0.5, 0, 0);
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.button:hover {
    -fx-background-color: #606060;
    -fx-effect: dropshadow(gaussian, #404040, 2, 0.5, 0, 0);
}

.button:armed {
    -fx-effect: dropshadow(gaussian, #d5d5d5, 2, 0.5, 0, 0);
    -fx-background-color: #656565;
}

.filterLable {
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

.choice-box {
    -fx-background-color: rgba(0,0,0,0.3);
    -fx-mark-color: rgba(0.1,0.1,0.2,0.3);
}

.choice-box > .label {
    -fx-text-fill: white;
}

.choice-box .context-menu {
    -fx-background-color: black;
}

.choice-box .menu-item:focused {
    -fx-background-color: orange;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

#Title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 30px;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}