VBox{
-fx-spacing: 1em;
-fx-padding: 1em;
-fx-alignment: top-center;
-fx-background-color: #505050;
}
.button{
-fx-background-color: #404040;
-fx-text-fill: #ffffff;
-fx-pref-width: 155px;
-fx-effect: dropshadow(gaussian, #101010, 2, 0.5, 0, 0);
}
.button:hover{
-fx-background-color: #606060;
-fx-effect: dropshadow(gaussian, #404040, 2, 0.5, 0, 0);
}
.button:armed{
-fx-effect: dropshadow(gaussian, #d5d5d5, 2, 0.5, 0, 0);
-fx-background-color: #656565;
}
.login-title{
-fx-text-fill: #ffffff;
-fx-font-size: 20px;
-fx-text-align: center;
}
.text-field{
-fx-background-color: rgba(0,0,0,0.1);
-fx-text-fill: rgba(0.9, 0.9, 0.9, 1.0);
}
#login-title{
-fx-stroke-dash-array: 2 2 2 2;
}
.password-field{
-fx-background-color: rgba(0,0,0,0.1);
-fx-text-fill: rgba(0.9, 0.9, 0.9, 1.0);
}

.text-input {
-fx-text-fill: white;
-fx-highlight-fill: derive(-fx-control-inner-background,-20%);
-fx-highlight-text-fill: -fx-text-inner-color;
-fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
-fx-cursor: text;
-fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}
.text-input:focused {
-fx-highlight-fill: -fx-accent;
-fx-highlight-text-fill: white;
-fx-prompt-text-fill: transparent;
}